<div class="row row-map">
  <div class="col-md-9 map-container">
      <h3 class="heading">Map</h3>
      <hr/>
    <div id="map"></div>
  </div>
  <div class="col-md-3 info-container">
    <div id="run-info">
      <h3 class="heading">Run Data</h3>
      <hr/>
      <h4 class="data-heading">Route Name:</h4>
      <p class="data-entry">{{ activityName }}</p>
      <hr/>

      <h4 class="data-heading">Date:</h4>
      <p class="data-entry">{{ activityDate | date:"longDate" }} <p>
      <hr/>

      <h4 class="data-heading">Total Distance:</h4>
      <p class="data-entry">{{ activityDistance }} miles</p>
      <hr/>

      <h4 class="data-heading">Comments:</h4>
      <p class="data-entry">{{ activityComments }}</p>
    </div>
  </div>
</div>
